<html>
    <head>
        <body>          
            <center>

            <form method="post">
                {% csrf_token %}
            <div><h1>Registration Form</h1></div>
            <br>
            <h2>Name:<input type='text' name="name"><h2>
            Roll no:<input type='number' name="rollno"><br>
            <br>
            Phone:<input type='number' name="phone"><br>
            <br>
            <br>

            <button type="submit">Submit Details</button>
            

            </form>
            </center>
        </body>
    </head>
</html>
