<html>
    <head>
        <body>
            <center>
            <form method="post">
                {% csrf_token %}
            <div><h1> Games </h1></div>
            <br>
            <br>
            <h2>Game name:<input type='text' name="gamename"><h2>
            <br>
            Point:<input type='point' name="point"><br>
            <br>
            <br>

            <button type="submit">Submit Details</button>
            

            </form>
            </center>
        </body>
    </head>
</html>